.container {
    height: 250px;

    width: 100%;
    background-color: rgba(40, 115, 255, 0.823);
    position: relative;
}


.headerStyle {
    display: flex;
    justify-content: center;
    color: white;
}

.searchBox {
    position: absolute;
    bottom: 27px;
    left: 0; 
    right: 100px; 
    margin-left: auto; 
    margin-right: auto; 
    width: 200px; /* Need a specific value to work */
}